Repository manti-by/Semkov: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, isort, black, prospector

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-ast
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: pretty-format-json
      - id: trailing-whitespace

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.18.0
    hooks:
      - id: pyupgrade
        args: [--py312-plus]

  - repo: local
    hooks:
    - id: bandit
      name: bandit
      entry: bandit
      language: python
      types: [ python ]
      exclude: .+/settings/.+
      language_version: python3
    - id: isort
      name: isort-local
      entry: isort
      language: python
      types: [ python ]
      exclude: .+/settings/.+
      pass_filenames: true
    - id: black
      name: black-local
      entry: black
      language: python
      types: [python]
      exclude: .+/settings/.+
      pass_filenames: true
    - id: prospector
      name: prospector-local
      entry: prospector --messages-only
      language: python
      types: [python]
      pass_filenames: true

  - repo: https://github.com/thibaudcolas/curlylint
    rev: v0.13.1
    hooks:
      - id: curlylint
        types: [ file ]
        files: \.(html|sls)$
        language_version: python3.12
        additional_dependencies: ['click<8.1']

Update application
  .pre-commit-config.yaml
  Dockerfile
  Makefile
  README.md
  pyproject.toml
  requirements.txt
  semkov/api/urls.py
  semkov/api/views.py
  semkov/apps/ads/models.py
  semkov/apps/core/image_formats.py
  semkov/apps/core/library/amon_ra.py
  semkov/apps/core/management/commands/send_email.py
  semkov/apps/core/management/commands/update_positions.py
  semkov/apps/core/management/commands/update_transport.py
  semkov/apps/core/mixins.py
  semkov/apps/core/models.py
  semkov/apps/core/services/amon_ra.py
  semkov/apps/core/services/recaptcha.py
  semkov/apps/core/snippets.py
  semkov/apps/core/templatetags/core_tags.py
  semkov/apps/core/templatetags/data_tags.py
  semkov/apps/forum/models.py
  semkov/apps/home/models.py
  semkov/apps/pages/models.py
  semkov/apps/search/views.py
  semkov/apps/user/admin.py
  semkov/apps/user/forms.py
  semkov/apps/user/models.py
  semkov/asgi.py
  semkov/settings/base.py
  semkov/tests/api/test_contact.py
  semkov/urls.py
  semkov/wsgi.py
Due: bandit, isort, black, prospector

Linter fixes
  manage.py
  pyproject.toml
  semkov/apps/core/migrations/0004_delete_sms.py
Due: bandit, isort, black, prospector

Updater linters config
  .isort.cfg
  .pre-commit-config.yaml
  .prospector.yaml
  .pylintrc
  pyproject.toml
Due: none

Upgrade application
  .pre-commit-config.yaml
  Dockerfile
  Makefile
  pyproject.toml
  requirements.txt
  semkov/apps/core/management/commands/update_positions.py
  semkov/apps/core/management/commands/update_transport.py
Due: bandit, isort, black, prospector

Update application
  .pre-commit-config.yaml
  Dockerfile
  Makefile
  docker-compose.yml
  pyproject.toml
  requirements.txt
  semkov/apps/core/management/commands/update_positions.py
  semkov/apps/core/management/commands/update_transport.py
  semkov/settings/base.py
  uv.lock
Due: bandit, isort, black, prospector

Update GitHub actions, remove pytest.ini
  .github/workflows/checks.yml
  pyproject.toml
  pytest.ini
  uv.lock
Due: none

Minor fixes
  Makefile
  pyproject.toml
  semkov/apps/user/migrations/0001_initial.py
Due: bandit, isort, black, prospector

Update dependencies
  pyproject.toml
  semkov/settings/base.py
  uv.lock
Due: prospector

Update workflow file
  .github/workflows/checks.yml
Due: none
